/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
.header { 
  text-align: center;
}
}

.main-page {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main-page__input-wrap_input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.main-page__input-wrap {
  display: flex;
}

.main-page__tasks-list {
  margin: 0;
  padding: 0px;
}

.main-page__tasks-list_list-item, .main-page__header {
  list-style: none;
}

.main-page__tasks-list, .main-page__add-btn, .main-page__tasks-list_edit-btn, .main-page__tasks-list_delete-btn{
  outline: none;
}

.main-page__add-btn, .main-page__tasks-list_edit-btn, .main-page__tasks-list_delete-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.main-page__add-btn:hover, .main-page__tasks-list_edit-btn:hover, .main-page__tasks-list_delete-btn:hover {
  color: #3a3a3a;
}
/* Heading */

.main-page__header,
.main-page__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.main-page__input-wrap_input,
.main-page__tasks-list_input-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.main-page__input-wrap_input:focus,
.main-page__tasks-list_input-task:focus{
  color: #333;
}

/* New Task */
.main-page__label {
  display: block;
  margin: 0 0 20px;
}

.main-page__input-wrap_input {
  width: 318px;
}

/* Task list */
.main-page__tasks-list_list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page__tasks-list_list-item > * {
  vertical-align: middle;
}

.main-page__tasks-list_list-item > .main-page__tasks-list_input {
  margin: 0 10px;
}

.main-page__tasks-list_list-item > .main-page__tasks-list_label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main-page__tasks-list_list-item > .main-page__tasks-list_input-task {
  width: 226px;
}

.main-page__tasks-list_delete-btn {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main-page__tasks-list_delete-btn:hover {
  transform: rotateZ(0deg);
}

/* Completed */
.main-page__tasks-list#completed-tasks .main-page__tasks-list_label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main-page__tasks-list .main-page__tasks-list_list-item .main-page__tasks-list_input-task {
  display: none;
}

.main-page__tasks-list .main-page__tasks-list_list-item.main-page__tasks-list_list-item_edit-mode .main-page__tasks-list_input-task {
  display: inline-block;
  width: 224px;
}

.main-page__tasks-list .main-page__tasks-list_list-item.main-page__tasks-list_list-item_edit-mode .main-page__tasks-list_label {
  display: none;
}